.root{
    -fx-background-color: #424242;
}

.table-view{
   -fx-background-color: #424242;
}

.table-view:focused{
    -fx-background-color: transparent;
}

/*.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}*/

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-size: 14;
    -fx-alignment: CENTER;
}

.table-view .column-header {
    -fx-background-color: #4db6ac;
}

.table-column {
  -fx-alignment: CENTER;
  -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, black;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
    -fx-cell-size: 30;
}

/*.table-row-cell:odd{
    -fx-background-color: #4db6ac;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}*/

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-cell {
    -fx-border-color: white;
    /*-fx-border-width: 0.033333em; /* 1 */
    -fx-border-width: .1;
    /*-fx-cell-size: 2.0em; /* 24 */
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}*


